.sectioncard {
    border-radius: 50px;
    border: 5px solid #33372C;
    padding: 25px;
    background-color: #CB94A4;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    max-height: 90%; 
}

.sectioncardimportant {
    border-radius: 50px;
    border: 5px solid #ec0e0e;
    padding: 25px;
    background-color: #fff5f8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    max-height: 90%; 
}

.sectioncardnotimportant {
    border-radius: 50px;
    border: 5px solid #f7eeee;
    padding: 25px;
    background-color: #fff5f8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    max-height: 90%; 
    color: aliceblue;
}

.sectioncardcomplete {
    border-radius: 50px;
    border: 5px solid #33372C;
    padding: 25px;
    background-color: #6d6467;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    max-height: 90%; 
    text-decoration: line-through;
}